<%= form_with model: @article, class: "article-form" do |form| %>
  
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
        <% @article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, placeholder: 'Enter title here' %>
  </div>
  
  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body, placeholder: 'Enter body here' %>
  </div>

  <div>
    <%= form.label :status %><br>
    <%= form.select :status, Visible::VALID_STATUSES, selected: @article.status || 'public' %>
  </div>
  
  <div class="actions">
    <%= form.submit "Submit",
    class: "submit-button",
    data: { turbo_confirm: "Are you sure you want to save?" } %>
  </div>
<% end %>


<div class="back-link">
  <%= link_to 'Back to articles', articles_path, class: "back-button" %>
</div>
