<%= form_with model: @article, class: "article-form" do |form| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
        <% @article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= form.label :title %><br/>
    <%= form.text_field :title, value: @article.title, placeholder: 'Enter title here' %><br/>
    
    <%= form.label :body %><br/>
    <%= form.text_area :body, value: @article.body, placeholder: 'Enter body here' %><br/>
  </div>
  
  <div class="actions">
    <%= form.submit "Save changes" %>
  </div>
<% end %>

<div>
  <%= link_to 'Back to articles', articles_path %>
</div>
