<h2 class="article-show-title"><%= @article.title %></h2>
<h3 class="article-show-body"><%= @article.body %></h2>
<div class="new-article-button">
  <%= link_to 'Back to articles', articles_path %>
</div>

<ul>
  <li><%= link_to "Edit", edit_article_path(@article) %></li>
  <li><%= link_to "Destroy", article_path(@article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>

<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>